<marquee style="color: green; width: 70%;"><h3><p>
 {% if signal %}
<b>Time: {{ signal.time }}</b> <b>Timeframe: {{ signal.timeframe }}</b> <b>Message: {{ signal.message }}</b>
 <b>Price: {{ "%.2f"|format(signal.price) }}</b> <b>Open: {{ "%.2f"|format(signal.open_price) }}</b>, <b>Close: {{ "%.2f"|format(signal.close_price) }}</b>
 <b>Volume: {{ "%.2f"|format(signal.volume) }}</b> <b>% Change: {{ "%.2f"|format(signal.percent_change) }}%</b> 
<b>EMA1 (12): {{ "%.2f"|format(signal.ema1) }}</b> <b>EMA2 (26): {{ "%.2f"|format(signal.ema2) }}</b> 
<b>RSI (14): {{ "%.2f"|format(signal.rsi) }}</b> <b>Diff: {{ "%.2f"|format(signal.diff) }}</b> 
<b>KDJ K: {{ "%.2f"|format(signal.k) }}</b> <b>KDJ D: {{ "%.2f"|format(signal.d) }}</b> 
<b>KDJ J: {{ "%.2f"|format(signal.j) }}</b> 
{% if signal.stop_loss %}
<b>Stop-Loss: {{ "%.2f"|format(signal.stop_loss) }}</b> 
{% endif %}
{% if signal.take_profit %}
<b>Take-Profit: {{ "%.2f"|format(signal.take_profit) }}</b> 
{% endif %}
{% if signal.action in ["buy", "sell"] %}
<b>Total Profit: {{ "%.2f"|format(signal.total_profit) }}</b> 
{% endif %}
{% if signal.action == "sell" %}
<b>Profit: {{ "%.2f"|format(signal.profit) }}</b>
{% endif %}
{% endif %}
</p></h3></marquee>
